[Unit]
Description=Keyboard backlight daemon

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=exec
ExecStart=/usr/bin/keylightd

Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
